@page
@model IndexModel
@{
    ViewData["Title"] = "My Home Demo Home page ";
}

<div class="text-center">
    <h1 class="display-4">Hello World for OPEN SHIFT Red Hat</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
